.input:focus {
}

.input {
    padding-left: 24px;
    resize: none;
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.inputWrapper {

}

.superInput {

}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {

}

.error {
    display: block;
    font-size: 10px;
    color: red;
}
