.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    border: 1px solid;
}

.developerHeader {
    border: 1px solid;

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}