.sendForm {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;

}

.textarea {
    display: block;
    resize: none;
    min-width: 85%;
    min-height: 40px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;

    padding: 10px;
}

textarea::placeholder {

}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: white;

    width: 120px;
    height: 40px;
    border: none;
    background: #0066CC;
    border-radius: 20px;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
