.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 30px;
    margin-right: 10px;
}

.text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}
