.container {
    width: 300px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number {
    font-weight: 600;
    line-height: 20px;
    color: #000000;
}
