.container {
    width: 300px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number {
    width: 30px;
    font-weight: 600;
    line-height: 20px;
    /*color: #000000;*/

}
